:root {
	--mainColor: #0f0c1a;
	--btnColor: #4c30b2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body,
html {
	padding: 0;
	margin: 0;
	background: #2f2e2e;
	height: 100vh;
	font-family: " Comic Sans MS";
	user-select: none;
}

main {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.greetingMsg {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 900px;
	width: 500px;
	background: var(--mainColor);
	animation: fadeIn 1s;
	color: #fff;
	padding: 2%;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.234);
}

.country {
	height: 50px;
	width: 350px;
	margin-top: 30px;
}

.countryList {
	display: flex;
	border: 3px solid;
	height: 50px;
	width: 300px;
	color: #fff;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	font-size: 30px;
}

.countryPage {
	background: rgb(0, 0, 0);
	position: absolute;
	height: 900px;
	width: 500px;
	z-index: 10;
	color: #fff;
	z-index: 10;
	font-size: 25px;
	text-align: center;
	list-style: none;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

.countryPage li {
	border: 1px solid #fff;
	border-radius: 5px;
	margin-top: 25px;
}

.countryList {
}

helloMsg {
	font-size: 150px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.playerName {
	outline: none;
	background: #646363;
	color: black;
	width: 60%;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.playerName::placeholder {
	color: rgb(255, 255, 255);
}

.genderBox {
	background: #171227;
	height: 20%;
	margin-top: 10%;
	width: 40%;
	display: flex;
	flex-direction: row;
}

.male,
.female {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30%;
	text-align: center;
}

.male {
	background: #3c13d0;
	height: 100%;
	width: 50%;
}

.female {
	background: #9413d0;
	height: 100%;
	width: 50%;
}

.male:hover {
	background: #4817fa;
}

.female:hover {
	background: #b317fb;
}

.alertBox {
	background: var(--mainColor);
	height: 900px;
	width: 500px;
	position: absolute;
	place-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 50px;
	opacity: 0;
	animation: alertBoxDis 2s;
}

.icon {
	height: 50px;
	width: 50px;
}

.mainFrame {
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 20%;
	background: var(--mainColor);
	color: #fff;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.234);
	overflow: hidden;
}

.mainUI {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 900px;
	width: 500px;
	background: var(--mainColor);
	color: #fff;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.234);
	overflow: hidden;
	animation: 2s mainUI;
}

.backBtn {
	height: 50px;
	width: 100px;
	background: var(--btnColor);
}

.topUI {
	padding: 0;
	margin: 0;
	height: 15%;
	max-width: 100%;
	background: rgb(255, 0, 0);
	margin-top: 0;
}

.menuIcon {
	height: 30px;
	width: 30px;
	margin: 1%;
	border-radius: 50%;
	background: #fff;
}

.menuUI {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: var(--mainColor);
	color: #fff;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.234);
	animation: 0.5s menuApp forwards;
}

.menuList {
	font-size: 10px;
	height: 20px;
	justify-content: center;
	border-bottom: 0.2px solid #fff;
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #fdfdfd;
}

.menuList h1 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 1px;
}

.menuList p {
	font-weight: normal;
	font-size: 15px;
	margin-top: 0;
}

.menuList:hover {
	background: #000;
}

.section {
	border: 1px solid #fff;
}

.briefInfoBox {
}

.charInfo {
	display: flex;
	height: 50px;
	background: #c3c3c3;
}

.charInfoBox {
	height: 100%;
	width: 50%;
	border: 1px solid #000;
}

.midUI {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: rgb(255, 255, 255);
	overflow: scroll;
}

.events {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 400px;
	margin: 5px 7px;
}

.eventName,
.eventInfo {
	margin: 0;

	font-size: 1em;
	color: rgb(124, 124, 124);
}

.eventInfo {
}

.midUI::-webkit-scrollbar {
	display: none;
}

.bottomUI {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	height: 35%;
	width: 100%;
	background: rgb(153, 202, 210);
}

.ageBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	user-select: none;
	background: #3564a2;
}

.ageBtn {
	position: absolute;
	height: 11%;
	width: 20%;
	font-size: 30px;
	background: rgb(0, 128, 0);
	border: 3px solid #fff;
	border-radius: 50%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	user-select: none;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.638);
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35%;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.bottomLeftOne,
.bottomLeftTwo,
.bottomRightOne,
.bottomRightTwo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #3564a2;
}

.bottomLeftOne,
.bottomLeftTwo,
.bottomRightOne {
	border-right: 1px solid #000;
}

.bottomRightOne {
	border-left: 1px solid #000;
}

.bottomLeft,
.bottomRight {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: space-evenly;
	height: 100%;
	width: 100%;
}

.lifeStage,
.assets,
.relationships,
.activities {
	height: 50%;
	width: 60%;
	border-radius: 50%;
}

.assets,
.relationships,
.activities {
	background: rgb(2, 230, 255);
	border-radius: 50%;
}

.lifeStage {
	background: rgb(237, 114, 6);
}

.statsMain {
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 100%;
	background: #fff;
	justify-content: center;
	align-items: center;
}

.stats {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 90%;
	background: #fff;
	justify-content: center;
	gap: 2px;
}

.statBox {
	display: flex;
	justify-content: right;
	align-items: center;

	height: 15%;
	width: 100%;
}

.statText {
	display: flex;
	justify-content: left;
	color: #a7a4a4;
	font-size: 20px;
	height: 30px;
	user-select: none;
	/* box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.368); */
}

.statBar {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 50%;
	width: 60%;
	background: #20a419;
}

.happinessDiv {
}

.healthDiv {
}

.smartsDiv {
}

.looksDiv {
}

.happiness {
}

.health {
}

.smarts {
}

.looks {
}

.statBar {
}

.barPercentage {
	display: flex;
	justify-content: right;
	color: #fff;
	font-size: 10px;
	margin-right: 5px;
}

@keyframes mainUI {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menuApp {
	0% {
		transform: translateY(500px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes menuDis {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(100%);
	}
}

.alertBox {
	animation: 1s alertBoxDis;
}

@keyframes alertBoxDis {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
